In [1]:
import pandas as pd

ruta_archivo = 'indices_institucional_2005_2022 (2).xlsx'

# Carga todas las hojas del archivo Excel en un diccionario de DataFrames
dataframes = pd.read_excel(ruta_archivo, sheet_name=None)

# Itera sobre las hojas del diccionario y accede a cada DataFrame individualmente
for sheet_name, dataframe in dataframes.items():
    print(f"DataFrame de la hoja '{sheet_name}':")
    print(dataframe.head())
    print()

DataFrame de la hoja 'Univ IP CFT Vigentes':
   Cód. Institución                    Nombre Institución  Año Creación  \
0              1001                           U. DE CHILE          1842
1              1002       PONTIFICIA U. CATÓLICA DE CHILE          1888
2              1003                      U. DE CONCEPCIÓN          1919
3              1004  PONTIFICIA U. CATÓLICA DE VALPARAÍSO          1928
4              1005       U. TÉCNICA FEDERICO SANTA MARÍA          1931

  Tipo Institución              Tradicional            NombreRector2  \
0        (a) Univ.  (a) Universidades CRUCH               Rosa Devés
1        (a) Univ.  (a) Universidades CRUCH     Ignacio Sánchez Díaz
2        (a) Univ.  (a) Universidades CRUCH  Carlos Saavedra Rubilar
3        (a) Univ.  (a) Universidades CRUCH      Nelson Vásquez Lara
4        (a) Univ.  (a) Universidades CRUCH  Darcy Fuenzalida O'Shee

                              Direccion Comuna Casa Central  \
0               Alameda N 1058, Of. 112            Santiago
1  Av. Libertador Bdo. O`higgins Nº 340            Santiago
2                  Víctor Lamas Nº 1290          Concepción
3                     Av. Brasil N 2950          Valparaíso
4                    Av. España N° 1680          Valparaíso

    Region Casa Central  Dirección Web Años Acreditación  \
0  Región Metropolitana  www.uchile.cl                 7
1  Región Metropolitana     www.puc.cl                 7
2    Región del Bío-Bío    www.udec.cl                 7
3  Región de Valparaíso    www.pucv.cl                 7
4  Región de Valparaíso     www.usm.cl                 6

  Acreditación Institucional Gestión Institucional Docencia de Pregrado  \
0                 Acreditada                    Si                   Si
1                 Acreditada                    Si                   Si
2                 Acreditada                    Si                   Si
3                 Acreditada                    Si                   Si
4                 Acreditada                    Si                   Si

  Investigación Vinculación con el Medio Docencia de Postgrado  \
0            Si                       Si                    Si
1            Si                       Si                    Si
2            Si                       Si                    Si
3            Si                       Si                    Si
4            Si                       Si                    Si

        Vigencia Desde       Vigencia Hasta       Proceso
0  2018-12-22 00:00:00  2025-12-22 00:00:00  (a) Autónoma
1  2018-12-01 00:00:00  2025-12-01 00:00:00  (a) Autónoma
2  2016-11-11 00:00:00  2023-11-11 00:00:00  (a) Autónoma
3  2022-01-19 00:00:00  2029-01-19 00:00:00  (a) Autónoma
4  2016-12-29 00:00:00  2022-12-29 00:00:00  (a) Autónoma

DataFrame de la hoja 'Inmuebles':
  Tipo Institución  Cód. Institución Nombre Institución  idInstitucion  \
0            Univ.              1001        U. DE CHILE           1001
1            Univ.              1001        U. DE CHILE           1001
2            Univ.              1001        U. DE CHILE           1001
3            Univ.              1001        U. DE CHILE           1001
4            Univ.              1001        U. DE CHILE           1001

    idSede      Sede  Año Información  N° Inmuebles   M2 Terreno  \
0  1001001  Santiago             2022         150.0  109043910.0
1  1001001  Santiago             2021         140.0  109046688.0
2  1001001  Santiago             2020         140.0  109097053.0
3  1001001  Santiago             2019         140.0  109097053.0
4  1001001  Santiago             2018         140.0  108016252.0

   M2 Construido  M2 Salas  Nº Oficinas  Nº Salas  Conectividad Megas
0       705759.0   50986.0       3500.0     708.0                 NaN
1       692010.0   51599.0       3500.0     736.0                 NaN
2       681132.0   50716.0       3500.0     707.0                 NaN
3       680498.0   44829.0       3500.0     768.0                 NaN
4       675606.0   43285.0       3489.0     775.0                 NaN

DataFrame de la hoja 'Laboratorios y Talleres':
  Tipo Institución  Cód. Institución Nombre Institución   idSede      Sede  \
0            Univ.              1001        U. DE CHILE  1001001  Santiago
1            Univ.              1001        U. DE CHILE  1001001  Santiago
2            Univ.              1001        U. DE CHILE  1001001  Santiago
3            Univ.              1001        U. DE CHILE  1001001  Santiago
4            Univ.              1001        U. DE CHILE  1001001  Santiago

   Año Proceso  Nº Laboratorios  M2 Construido  Nº de PC para alumnos  \
0         2022           1091.0        64706.0                 5325.0
1         2021           1103.0        65251.0                 5190.0
2         2020           1103.0        65251.0                 4718.0
3         2019           1012.0        69207.0                 4280.0
4         2018            996.0        68435.0                 4248.0

   N° Computadores con Internet
0                        5231.0
1                        5089.0
2                        4624.0
3                        4177.0
4                        4248.0

DataFrame de la hoja 'Bibliotecas2005-2018':
   Año Proceso Tipo Institución  Cód. Institución Nombre Institución   idSede  \
0         2018            Univ.              1001        U. DE CHILE  1001001
1         2017            Univ.              1001        U. DE CHILE  1001001
2         2016            Univ.              1001        U. DE CHILE  1001001
3         2015            Univ.              1001        U. DE CHILE  1001001
4         2014            Univ.              1001        U. DE CHILE  1001001

       Sede  N° Bibliotecas  N° PC destinados a búsqueda y referencia  \
0  Santiago            48.0                                     954.0
1  Santiago            48.0                                    1020.0
2  Santiago            48.0                                     905.0
3  Santiago            48.0                                     914.0
4  Santiago            48.0                                     865.0

   N° de préstamos usuarios internos  N° Bibliotecólogos  \
0                           333651.0                88.0
1                           421300.0                86.0
2                           527006.0                86.0
3                           562474.0                84.0
4                           570675.0                84.0

   N° Otros Profesionales  N° Otros no Profesionales (Ayudantes)  \
0                    17.0                                  122.0
1                    20.0                                  122.0
2                    15.0                                  132.0
3                    17.0                                  156.0
4                    20.0                                  145.0

   N° de títulos  N° de ejemplares  Material Audivisual y Multimedia  \
0       847985.0         3108441.0                           37594.0
1       827574.0         3098000.0                           37119.0
2       807138.0         3093000.0                           37536.0
3       993485.0         3087000.0                           37438.0
4       979330.0         3072588.0                           37835.0

   N° Suscripciones Revistas Especializadas  \
0                                     161.0
1                                     249.0
2                                     361.0
3                                     418.0
4                                     507.0

   N° Suscripciones Revistas Electrónicas  Mts2 de salas estudio  \
0                                 47816.0                12011.0
1                                 43623.0                11680.0
2                                 40141.0                11319.0
3                                 38680.0                11791.0
4                                 32500.0                12263.0

   Mts2 construídos de biblioteca
0                         27816.0
1                         27520.0
2                         26669.0
3                         26794.0
4                         29297.0

DataFrame de la hoja 'Bibliotecas2019-2022':
  Tipo Institución  Cód. Institución               Nombre Institución  \
0            Univ.              1001                      U. DE CHILE
1            Univ.              1001                      U. DE CHILE
2            Univ.              1001                      U. DE CHILE
3            Univ.              1001                      U. DE CHILE
4            Univ.              1002  PONTIFICIA U. CATÓLICA DE CHILE

    idSede      Sede  AñoProceso  Total de Bibliotecas  \
0  1001001  Santiago        2022                  48.0
1  1001001  Santiago        2021                  48.0
2  1001001  Santiago        2020                  48.0
3  1001001  Santiago        2019                  48.0
4  1002001  Santiago        2022                  10.0

   Total Biblioteca Open Access  Total Bibliotecas Suscrip. Pagada  \
0                           NaN                                1.0
1                           NaN                                1.0
2                           NaN                                1.0
3                           NaN                                1.0
4                           NaN                                1.0

   Total Bibliotecas Manual  ...  \
0                       NaN  ...
1                       NaN  ...
2                       NaN  ...
3                       NaN  ...
4                       NaN  ...

  N° Títulos Digitales Distintos Ebooks o Revistas  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                          34283.0

   N° Titulos Digita Para Fines Académicos  \
0                                 142691.0
1                                 122004.0
2                                 112486.0
3                                  87688.0
4                                   5519.0

   N° Bases de datos Open Access disponibles  ¿Dispone Repositorio Académico?  \
0                                       53.0                               Si
1                                       53.0                               Si
2                                       52.0                               Si
3                                       51.0                               Si
4                                       44.0                               Si

   N° Préstamos Físicos  N° Descargas Digitales  \
0               26440.0               1984279.0
1               28549.0               2404591.0
2              323409.0               2487724.0
3              357691.0               2250679.0
4              261847.0               1738702.0

   Porcentaje % Inversión Impreso  Porcentaje % Inversión Digital  \
0                             NaN                             NaN
1                             NaN                             NaN
2                             NaN                             NaN
3                             NaN                             NaN
4                            11.0                            82.0

   Porcentaje % Inversión Tecnológico SW/HW Porcentaje % Inversión Otro
0                                       NaN                         NaN
1                                       NaN                         NaN
2                                       NaN                         NaN
3                                       NaN                         NaN
4                                       5.0                         2.0

[5 rows x 41 columns]

DataFrame de la hoja 'Docentes':
   Cód. Institución Nombre Institución   idSede      Sede Tipo Institución  \
0              1001        U. DE CHILE  1001001  Santiago            Univ.
1              1001        U. DE CHILE  1001001  Santiago            Univ.
2              1001        U. DE CHILE  1001001  Santiago            Univ.
3              1001        U. DE CHILE  1001001  Santiago            Univ.
4              1001        U. DE CHILE  1001001  Santiago            Univ.

   Año Proceso  N°DocentesJornadaMedia  N°DocentesJornadaHora  \
0         2022                   680.0                 1584.0
1         2021                   708.0                 1544.0
2         2020                   684.0                 1496.0
3         2019                   688.0                 1491.0
4         2018                   692.0                 1420.0

   N°DocentesJornadaCompleta  N°HorasJornadaCompleta  ...  \
0                     1727.0                 75316.0  ...
1                     1739.0                 75838.0  ...
2                     1762.0                 76737.0  ...
3                     1779.0                 77630.0  ...
4                     1744.0                 76140.0  ...

   N°MagisterJornadaHora  N°MagisterJornadaMedia  N°MagisterJornadaCompleta  \
0                  305.0                   222.0                      311.0
1                  288.0                   233.0                      317.0
2                  236.0                   188.0                      283.0
3                  231.0                   184.0                      292.0
4                  237.0                   188.0                      295.0

   N°DoctorJornadaHora  N°DoctorJornadaMedia  N°DoctorJornadaCompleta  \
0                236.0                 151.0                   1199.0
1                208.0                 143.0                   1190.0
2                181.0                 123.0                   1172.0
3                180.0                 117.0                   1161.0
4                176.0                 118.0                   1103.0

   N°Docentes   N°Horas  N°DocentesHombres  N°DocentesMujeres
0      3991.0  104557.0             2440.0             1551.0
1      3991.0  105430.0             2454.0             1537.0
2      3942.0  105515.0             2441.0             1501.0
3      3958.0  106224.0             2481.0             1477.0
4      3856.0  104341.0             2446.0             1410.0

[5 rows x 52 columns]

In [2]:
institucion = dataframes['Univ IP CFT Vigentes']

In [3]:
inmuebles = dataframes['Inmuebles']

In [4]:
laboratorios_talleres = dataframes['Laboratorios y Talleres']

In [5]:
bibliotecas = dataframes['Bibliotecas2019-2022']

In [6]:
docentes = dataframes['Docentes']

In [7]:
institucion = institucion.rename(columns={
    'Cód. Institución': 'id_institucion',
    'Nombre Institución': 'nombre_institucion',
    'Año Creación': 'ano_creacion',
    'Tipo Institución': 'tipo_institucion',
    'Tradicional': 'tradicional',
    'NombreRector2': 'nombre_rector',
    'Direccion': 'direccion',
    'Comuna Casa Central': 'comuna_casa_central',
    'Region Casa Central': 'region_casa_central',
    'Dirección Web': 'direccion_web',
    'Años Acreditación': 'anos_acreditacion',
    'Acreditación Institucional': 'acreditacion_institucional',
    'Gestión Institucional': 'gestion_institucional',
    'Docencia de Pregrado': 'docencia_pregrado',
    'Investigación': 'investigacion',
    'Vinculación con el Medio': 'vinculacion_medio',
    'Docencia de Postgrado': 'docencia_postgrado',
    'Vigencia Desde': 'vigencia_desde',
    'Vigencia Hasta': 'vigencia_hasta',
    'Proceso': 'proceso'
})

In [8]:
inmuebles = inmuebles.rename(columns={
    'Tipo Institución': 'tipo_institucion',
    'Cód. Institución': 'id_institucion',
    'Nombre Institución': 'nombre_institucion',
    'idInstitucion': 'id_institucionsede',
    'idSede': 'id_sede',
    'Sede': 'sede',
    'Año Información': 'ano_informacion',
    'N° Inmuebles': 'num_inmuebles',
    'M2 Terreno': 'm2_terreno',
    'M2 Construido': 'm2_construido',
    'M2 Salas': 'm2_salas',
    'Nº Oficinas': 'num_oficinas',
    'Nº Salas': 'num_salas',
    'Conectividad Megas': 'conectividad_megas'
})

In [9]:
laboratorios_talleres = laboratorios_talleres.rename(columns={
    'Tipo Institución': 'tipo_institucion',
    'Cód. Institución': 'id_institucion',
    'Nombre Institución': 'nombre_institucion',
    'idSede': 'id_sede',
    'Sede': 'sede',
    'Año Proceso': 'ano_proceso',
    'Nº Laboratorios': 'num_laboratorios',
    'M2 Construido': 'm2_construido',
    'Nº de PC para alumnos': 'num_pc_alumnos',
    'N° Computadores con Internet': 'num_pc_internet'
})

In [10]:
bibliotecas = bibliotecas.rename(columns={
    'Tipo Institución': 'tipo_institucion',
    'Cód. Institución': 'id_institucion',
    'Nombre Institución': 'nombre_institucion',
    'idSede': 'id_sede',
    'Sede': 'sede',
    'AñoProceso': 'ano_proceso',
    'Total de Bibliotecas': 'total_bibliotecas',
    'Total Biblioteca Open Access': 'total_bibliotecas_open_access',
    'Total Bibliotecas Suscrip. Pagada': 'total_bibliotecas_suscripcion_pagada',
    'Total Bibliotecas Manual': 'total_bibliotecas_manual',
    '¿Dispone Descubridor?': 'dispone_descubridor',
    'Mts2 Construidos': 'm2_construidos',
    'Total Puestos Trabajo': 'total_puestos_trabajo',
    'N°Bibliotecologos': 'num_bibliotecologos',
    'N° Horas semanales Bibliotecólogo': 'horas_semanales_bibliotecologo',
    'N° Técnicos Bibliotecarios': 'num_tecnicos_bibliotecarios',
    'N° Otros Profesionales': 'num_otros_profesionales',
    'N° Otros Técnicos': 'num_otros_tecnicos',
    'N° Sin estudios Superiores': 'num_sin_estudios_superiores',
    '¿Dispone Programa Inclusión?': 'dispone_programa_inclusion',
    '¿Dispone Programa Extensión/Vinculación Medio?': 'dispone_programa_extension',
    '¿Dispone Programa Apoyo Proceso Enseñanza/Aprendizaje?': 'dispone_programa_apoyo_enseñanza',
    '¿Dispone Programa Apoyo Investigación?': 'dispone_programa_apoyo_investigacion',
    'N° Convenios Interbibliotecarios': 'num_convenios_interbibliotecarios',
    'N° Títulos Físicos': 'num_titulos_fisicos',
    'N° Ejemplares Físicos': 'num_ejemplares_fisicos',
    'N° Titulos Revistas Fisicas': 'num_titulos_revistas_fisicas',
    'N° Trabajos Titulacion': 'num_trabajos_titulacion',
    'N° Bases de Datos Suscritas': 'num_bases_datos_suscritas',
    'N° Ebooks Suscritos': 'num_ebooks_suscritos',
    'N° Titulos Revistas Digitales': 'num_titulos_revistas_digitales',
    'N° Títulos Digitales Distintos Ebooks o Revistas': 'num_titulos_digitales_distintos',
    'N° Titulos Digita Para Fines Académicos': 'num_titulos_digitales_academicos',
    'N° Bases de datos Open Access disponibles': 'num_bases_datos_open_access',
    '¿Dispone Repositorio Académico?': 'dispone_repositorio_academico',
    'N° Préstamos Físicos': 'num_prestamos_fisicos',
    'N° Descargas Digitales': 'num_descargas_digitales',
    'Porcentaje % Inversión Impreso': 'porcentaje_inversion_impreso',
    'Porcentaje % Inversión Digital': 'porcentaje_inversion_digital',
    'Porcentaje % Inversión Tecnológico SW/HW': 'porcentaje_inversion_tecnologico',
    'Porcentaje % Inversión Otro': 'porcentaje_inversion_otro'
})

In [11]:
docentes = docentes.rename(columns={
    'Cód. Institución': 'id_institucion',
    'Nombre Institución': 'nombre_institucion',
    'idSede': 'id_sede',
    'Sede': 'sede',
    'Tipo Institución': 'tipo_institucion',
    'Año Proceso': 'ano_proceso',
    'N°DocentesJornadaMedia': 'num_docentes_jornada_media',
    'N°DocentesJornadaHora': 'num_docentes_jornada_hora',
    'N°DocentesJornadaCompleta': 'num_docentes_jornada_completa',
    'N°HorasJornadaCompleta': 'num_horas_jornada_completa',
    'N°HorasJornadaMedia': 'num_horas_jornada_media',
    'N°HorasJornadaHora': 'num_horas_jornada_hora',
    'N°HorasEspeJornadaHora': 'num_horas_especiales_jornada_hora',
    'N°HorasEspeJornadaMedia': 'num_horas_especiales_jornada_media',
    'N°HorasEspeJornadaCompleta': 'num_horas_especiales_jornada_completa',
    'N°HorasOtroJornadaHora': 'num_horas_otro_jornada_hora',
    'N°HorasOtroJornadaMedia': 'num_horas_otro_jornada_media',
    'N°HorasOtroJornadaCompleta,': 'num_horas_otro_jornada_completa',
    'N°HorasTécnicoJornadaHora': 'num_horas_tecnico_jornada_hora',
    'N°HorasTécnicoJornadaMedia': 'num_horas_tecnico_jornada_media',
    'N°HorasTécnicoJornadaCompleta': 'num_horas_tecnico_jornada_completa',
    'N°HorasProfJornadaHora': 'num_horas_prof_jornada_hora',
    'N°HorasProfJornadaMedia': 'num_horas_prof_jornada_media',
    'N°HorasProfJornadaCompleta': 'num_horas_prof_jornada_completa',
    'N°HorasMagísterJornadaHora': 'num_horas_magister_jornada_hora',
    'N°HorasMagísterJornadaMedia': 'num_horas_magister_jornada_media',
    'N°HorasMagísterJornadaCompleta': 'num_horas_magister_jornada_completa',
    'N°HorasDoctorJornadaHora': 'num_horas_doctor_jornada_hora',
    'N°HorasDoctorJornadaMedia': 'num_horas_doctor_jornada_media',
    'N°HorasDoctorJornadaCompleta': 'num_horas_doctor_jornada_completa',
    'N°OtroJornadaHora': 'num_otro_jornada_hora',
    'N°OtroJornadaMedia': 'num_otro_jornada_media',
    'N°OtroJornadaCompleta': 'num_otro_jornada_completa',
    'N°TecnicoJornadaHora': 'num_tecnico_jornada_hora',
    'N°TecnicoJornadaMedia': 'num_tecnico_jornada_media',
    'N°TecnicoJornadaCompleta': 'num_tecnico_jornada_completa',
    'N°ProfesionalJornadaHora': 'num_profesional_jornada_hora',
    'N°ProfesionalJornadaMedia': 'num_profesional_jornada_media',
    'N°ProfesionalJornadaCompleta': 'num_profesional_jornada_completa',
    'N°EspecialidadesJornadaHora': 'num_especialidades_jornada_hora',
    'N°EspecialidadesJornadaMedia': 'num_especialidades_jornada_media',
    'N°EspecialidadesJornadaCompleta': 'num_especialidades_jornada_completa',
    'N°MagisterJornadaHora': 'num_magister_jornada_hora',
    'N°MagisterJornadaMedia': 'num_magister_jornada_media',
    'N°MagisterJornadaCompleta': 'num_magister_jornada_completa',
    'N°DoctorJornadaHora': 'num_doctor_jornada_hora',
    'N°DoctorJornadaMedia': 'num_doctor_jornada_media',
    'N°DoctorJornadaCompleta': 'num_doctor_jornada_completa',
    'N°Docentes': 'num_docentes',
    'N°Horas': 'num_horas',
    'N°DocentesHombres': 'num_docentes_hombres',
    'N°DocentesMujeres': 'num_docentes_mujeres'
})

In [12]:
docentes.columns

Index(['id_institucion', 'nombre_institucion', 'id_sede', 'sede',
       'tipo_institucion', 'ano_proceso', 'num_docentes_jornada_media',
       'num_docentes_jornada_hora', 'num_docentes_jornada_completa',
       'num_horas_jornada_completa', 'num_horas_jornada_media',
       'num_horas_jornada_hora', 'num_horas_especiales_jornada_hora',
       'num_horas_especiales_jornada_media',
       'num_horas_especiales_jornada_completa', 'num_horas_otro_jornada_hora',
       'num_horas_otro_jornada_media', 'num_horas_otro_jornada_completa',
       'num_horas_tecnico_jornada_hora', ' N°HorasTécnicoJornadaMedia',
       'num_horas_tecnico_jornada_completa', 'num_horas_prof_jornada_hora',
       'num_horas_prof_jornada_media', 'num_horas_prof_jornada_completa',
       'num_horas_magister_jornada_hora', 'num_horas_magister_jornada_media',
       'num_horas_magister_jornada_completa', 'num_horas_doctor_jornada_hora',
       'num_horas_doctor_jornada_media', 'num_horas_doctor_jornada_completa',
       'num_otro_jornada_hora', 'num_otro_jornada_media',
       'num_otro_jornada_completa', 'num_tecnico_jornada_hora',
       'num_tecnico_jornada_media', 'num_tecnico_jornada_completa',
       'num_profesional_jornada_hora', 'num_profesional_jornada_media',
       'num_profesional_jornada_completa', 'num_especialidades_jornada_hora',
       'num_especialidades_jornada_media',
       'num_especialidades_jornada_completa', 'num_magister_jornada_hora',
       'num_magister_jornada_media', 'num_magister_jornada_completa',
       'num_doctor_jornada_hora', 'num_doctor_jornada_media',
       'num_doctor_jornada_completa', 'num_docentes', 'num_horas',
       'num_docentes_hombres', 'num_docentes_mujeres'],
      dtype='object')

In [13]:
institucion = institucion.drop(columns=['tipo_institucion','ano_creacion', 'nombre_rector','direccion','direccion_web','proceso'])
laboratorios_talleres = laboratorios_talleres.drop(columns=['tipo_institucion', 'nombre_institucion'])
bibliotecas = bibliotecas.drop(columns=['tipo_institucion', 'nombre_institucion'])
docentes = docentes.drop(columns=['tipo_institucion', 'nombre_institucion', 'num_horas_otro_jornada_hora','num_horas_otro_jornada_media','num_horas_otro_jornada_completa','num_horas_tecnico_jornada_hora','num_horas_tecnico_jornada_completa','num_otro_jornada_hora','num_otro_jornada_media','num_otro_jornada_completa','num_tecnico_jornada_hora','num_tecnico_jornada_media', 'num_tecnico_jornada_completa'])

In [14]:
##limpiar datos de años de acreditacion de objet a int
institucion['anos_acreditacion'] = pd.to_numeric(institucion['anos_acreditacion'], errors='coerce').fillna(0).astype(int)
institucion['acreditacion_institucional'] = institucion['acreditacion_institucional'].apply(lambda x: 1 if x == 'Acreditada' else 0)
institucion['gestion_institucional'] = institucion['gestion_institucional'].apply(lambda x: 1 if x == 'Si' else 0)
institucion['docencia_pregrado'] = institucion['docencia_pregrado'].apply(lambda x: 1 if x == 'Si' else 0)
institucion['investigacion'] = institucion['investigacion'].apply(lambda x: 1 if x == 'Si' else 0)
institucion['vinculacion_medio'] = institucion['vinculacion_medio'].apply(lambda x: 1 if x == 'Si' else 0)
institucion['docencia_postgrado'] = institucion['docencia_postgrado'].apply(lambda x: 1 if x == 'Si' else 0)
institucion['vigencia_desde'] = pd.to_datetime(institucion['vigencia_desde'], errors='coerce')
institucion['vigencia_hasta'] = pd.to_datetime(institucion['vigencia_hasta'], errors='coerce')
# Verificar el resultad

In [15]:
bibliotecas['dispone_descubridor'] = bibliotecas['dispone_descubridor'].apply(lambda x: 1 if x == 'Si, Pagado' else 0)
bibliotecas['dispone_repositorio_academico'] = bibliotecas['dispone_repositorio_academico'].apply(lambda x: 1 if x == 'Si' else 0)

In [16]:
austral = institucion[institucion['nombre_institucion'] == 'U. AUSTRAL DE CHILE']
austral

,id_institucion,nombre_institucion,tradicional,comuna_casa_central,region_casa_central,anos_acreditacion,acreditacion_institucional,gestion_institucional,docencia_pregrado,investigacion,vinculacion_medio,docencia_postgrado,vigencia_desde,vigencia_hasta
6,1007,U. AUSTRAL DE CHILE,(a) Universidades CRUCH,Valdivia,Región de los Ríos,6,1,1,1,1,1,1,2022-09-14,2028-09-14

In [17]:
bibliotecas.insert(0, 'id_bibliotecas', range(1, 1 + len(bibliotecas)))
inmuebles.insert(0, 'id_inmuebles', range(1, 1 + len(inmuebles)))
laboratorios_talleres.insert(0, 'id_laboratorios_talleres', range(1, 1 + len(laboratorios_talleres)))
docentes.insert(0, 'id_docentes', range(1, 1 + len(docentes)))

In [18]:
universidad = bibliotecas.loc[(bibliotecas['id_institucion'] == 1007) & (bibliotecas['ano_proceso'] == 2019)]
universidad

,id_bibliotecas,id_institucion,id_sede,sede,ano_proceso,total_bibliotecas,total_bibliotecas_open_access,total_bibliotecas_suscripcion_pagada,total_bibliotecas_manual,dispone_descubridor,...,num_titulos_digitales_distintos,num_titulos_digitales_academicos,num_bases_datos_open_access,dispone_repositorio_academico,num_prestamos_fisicos,num_descargas_digitales,porcentaje_inversion_impreso,porcentaje_inversion_digital,porcentaje_inversion_tecnologico,porcentaje_inversion_otro
51,52,1007,1007003,Coyhaique,2019,1.0,NaN,1.0,NaN,1,...,9.0,7.0,67.0,1,1568.0,541741.0,2.0,98.0,NaN,NaN
55,56,1007,1007002,Puerto Montt,2019,1.0,NaN,1.0,NaN,1,...,9.0,7.0,67.0,1,14058.0,541741.0,7.0,93.0,NaN,NaN
59,60,1007,1007001,Valdivia,2019,3.0,NaN,1.0,NaN,1,...,9.0,7.0,67.0,1,127220.0,541741.0,19.0,78.0,3.0,NaN

In [19]:
institucion.columns

Index(['id_institucion', 'nombre_institucion', 'tradicional',
       'comuna_casa_central', 'region_casa_central', 'anos_acreditacion',
       'acreditacion_institucional', 'gestion_institucional',
       'docencia_pregrado', 'investigacion', 'vinculacion_medio',
       'docencia_postgrado', 'vigencia_desde', 'vigencia_hasta'],
      dtype='object')

In [20]:
print(institucion.columns)
print(inmuebles.columns)
print(laboratorios_talleres.columns)

Index(['id_institucion', 'nombre_institucion', 'tradicional',
       'comuna_casa_central', 'region_casa_central', 'anos_acreditacion',
       'acreditacion_institucional', 'gestion_institucional',
       'docencia_pregrado', 'investigacion', 'vinculacion_medio',
       'docencia_postgrado', 'vigencia_desde', 'vigencia_hasta'],
      dtype='object')
Index(['id_inmuebles', 'tipo_institucion', 'id_institucion',
       'nombre_institucion', 'id_institucionsede', 'id_sede', 'sede',
       'ano_informacion', 'num_inmuebles', 'm2_terreno', 'm2_construido',
       'm2_salas', 'num_oficinas', 'num_salas', 'conectividad_megas'],
      dtype='object')
Index(['id_laboratorios_talleres', 'id_institucion', 'id_sede', 'sede',
       'ano_proceso', 'num_laboratorios', 'm2_construido', 'num_pc_alumnos',
       'num_pc_internet'],
      dtype='object')

In [21]:
print(bibliotecas.columns)

Index(['id_bibliotecas', 'id_institucion', 'id_sede', 'sede', 'ano_proceso',
       'total_bibliotecas', 'total_bibliotecas_open_access',
       'total_bibliotecas_suscripcion_pagada', 'total_bibliotecas_manual',
       'dispone_descubridor', 'm2_construidos', 'total_puestos_trabajo',
       'num_bibliotecologos', 'horas_semanales_bibliotecologo',
       'num_tecnicos_bibliotecarios', 'num_otros_profesionales',
       'num_otros_tecnicos', 'num_sin_estudios_superiores',
       'dispone_programa_inclusion', 'dispone_programa_extension',
       'dispone_programa_apoyo_enseñanza',
       'dispone_programa_apoyo_investigacion',
       'num_convenios_interbibliotecarios', 'num_titulos_fisicos',
       'num_ejemplares_fisicos', 'num_titulos_revistas_fisicas',
       'num_trabajos_titulacion', 'num_bases_datos_suscritas',
       'num_ebooks_suscritos', 'num_titulos_revistas_digitales',
       'num_titulos_digitales_distintos', 'num_titulos_digitales_academicos',
       'num_bases_datos_open_access', 'dispone_repositorio_academico',
       'num_prestamos_fisicos', 'num_descargas_digitales',
       'porcentaje_inversion_impreso', 'porcentaje_inversion_digital',
       'porcentaje_inversion_tecnologico', 'porcentaje_inversion_otro'],
      dtype='object')

In [22]:
print(docentes.columns)

Index(['id_docentes', 'id_institucion', 'id_sede', 'sede', 'ano_proceso',
       'num_docentes_jornada_media', 'num_docentes_jornada_hora',
       'num_docentes_jornada_completa', 'num_horas_jornada_completa',
       'num_horas_jornada_media', 'num_horas_jornada_hora',
       'num_horas_especiales_jornada_hora',
       'num_horas_especiales_jornada_media',
       'num_horas_especiales_jornada_completa', ' N°HorasTécnicoJornadaMedia',
       'num_horas_prof_jornada_hora', 'num_horas_prof_jornada_media',
       'num_horas_prof_jornada_completa', 'num_horas_magister_jornada_hora',
       'num_horas_magister_jornada_media',
       'num_horas_magister_jornada_completa', 'num_horas_doctor_jornada_hora',
       'num_horas_doctor_jornada_media', 'num_horas_doctor_jornada_completa',
       'num_profesional_jornada_hora', 'num_profesional_jornada_media',
       'num_profesional_jornada_completa', 'num_especialidades_jornada_hora',
       'num_especialidades_jornada_media',
       'num_especialidades_jornada_completa', 'num_magister_jornada_hora',
       'num_magister_jornada_media', 'num_magister_jornada_completa',
       'num_doctor_jornada_hora', 'num_doctor_jornada_media',
       'num_doctor_jornada_completa', 'num_docentes', 'num_horas',
       'num_docentes_hombres', 'num_docentes_mujeres'],
      dtype='object')

In [23]:
import pandas as pd
import sqlite3

# Crear una conexión a la base de datos SQLite
conexion = sqlite3.connect('nombre_basedatos.db')

# DataFrames que quieres insertar
dataframes = {
    'tabla1': institucion,
    'tabla2': inmuebles,
    'tabla3': laboratorios_talleres,
    'tabla4': bibliotecas,
    'tabla5': docentes
}

# Iterar sobre los DataFrames y guardarlos como tablas en la base de datos
for nombre_tabla, dataframe in dataframes.items():
    dataframe.to_sql(nombre_tabla, conexion, if_exists='replace', index=False)

# Cerrar la conexión a la base de datos
conexion.close()

In [24]:
inmuebles

,id_inmuebles,tipo_institucion,id_institucion,nombre_institucion,id_institucionsede,id_sede,sede,ano_informacion,num_inmuebles,m2_terreno,m2_construido,m2_salas,num_oficinas,num_salas,conectividad_megas
0,1,Univ.,1001,U. DE CHILE,1001,1001001,Santiago,2022,150.0,109043910.0,705759.0,50986.0,3500.0,708.0,NaN
1,2,Univ.,1001,U. DE CHILE,1001,1001001,Santiago,2021,140.0,109046688.0,692010.0,51599.0,3500.0,736.0,NaN
2,3,Univ.,1001,U. DE CHILE,1001,1001001,Santiago,2020,140.0,109097053.0,681132.0,50716.0,3500.0,707.0,NaN
3,4,Univ.,1001,U. DE CHILE,1001,1001001,Santiago,2019,140.0,109097053.0,680498.0,44829.0,3500.0,768.0,NaN
4,5,Univ.,1001,U. DE CHILE,1001,1001001,Santiago,2018,140.0,108016252.0,675606.0,43285.0,3489.0,775.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818,5819,F.F.A.A.,4061,ESCUELA DE INVESTIGACIONES POLICIALES,4061,4061001,Estación Central,2007,4.0,74300.0,44346.0,1776.0,140.0,31.0,NaN
5819,5820,F.F.A.A.,4061,ESCUELA DE INVESTIGACIONES POLICIALES,4061,4061001,Estación Central,2005,3.0,74300.0,56800.0,1616.0,140.0,27.0,NaN
5820,5821,F.F.A.A.,4063,ACADEMIA DE CIENCIAS POLICIALES DE CARABINEROS...,4063,4063001,ACIPOL,2022,3.0,25000.0,5544.0,575.0,24.0,15.0,500.0
5821,5822,F.F.A.A.,4063,ACADEMIA DE CIENCIAS POLICIALES DE CARABINEROS...,4063,4063001,ACIPOL,2021,3.0,25000.0,5544.0,575.0,24.0,15.0,500.0
5822,5823,F.F.A.A.,4063,ACADEMIA DE CIENCIAS POLICIALES DE CARABINEROS...,4063,4063001,ACIPOL,2020,3.0,25000.0,5544.0,575.0,24.0,15.0,500.0

In [25]:
docentes

,id_docentes,id_institucion,id_sede,sede,ano_proceso,num_docentes_jornada_media,num_docentes_jornada_hora,num_docentes_jornada_completa,num_horas_jornada_completa,num_horas_jornada_media,...,num_magister_jornada_hora,num_magister_jornada_media,num_magister_jornada_completa,num_doctor_jornada_hora,num_doctor_jornada_media,num_doctor_jornada_completa,num_docentes,num_horas,num_docentes_hombres,num_docentes_mujeres
0,1,1001,1001001,Santiago,2022,680.0,1584.0,1727.0,75316.0,15040.0,...,305.0,222.0,311.0,236.0,151.0,1199.0,3991.0,104557.0,2440.0,1551.0
1,2,1001,1001001,Santiago,2021,708.0,1544.0,1739.0,75838.0,15663.0,...,288.0,233.0,317.0,208.0,143.0,1190.0,3991.0,105430.0,2454.0,1537.0
2,3,1001,1001001,Santiago,2020,684.0,1496.0,1762.0,76737.0,15169.0,...,236.0,188.0,283.0,181.0,123.0,1172.0,3942.0,105515.0,2441.0,1501.0
3,4,1001,1001001,Santiago,2019,688.0,1491.0,1779.0,77630.0,15293.0,...,231.0,184.0,292.0,180.0,117.0,1161.0,3958.0,106224.0,2481.0,1477.0
4,5,1001,1001001,Santiago,2018,692.0,1420.0,1744.0,76140.0,15383.0,...,237.0,188.0,295.0,176.0,118.0,1103.0,3856.0,104341.0,2446.0,1410.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5840,5841,4061,4061001,Estación Central,2021,NaN,240.0,24.0,864.0,NaN,...,50.0,NaN,10.0,4.0,NaN,NaN,264.0,2270.0,201.0,63.0
5841,5842,4061,4061001,Estación Central,2019,NaN,215.0,15.0,540.0,NaN,...,65.0,NaN,11.0,4.0,NaN,NaN,230.0,3133.0,176.0,54.0
5842,5843,4063,4063001,ACIPOL,2022,1.0,56.0,2.0,84.0,24.0,...,36.0,1.0,NaN,7.0,NaN,2.0,59.0,416.0,48.0,11.0
5843,5844,4063,4063001,ACIPOL,2021,2.0,70.0,3.0,120.0,44.0,...,41.0,2.0,NaN,9.0,NaN,2.0,75.0,528.0,60.0,15.0
5844,5845,4063,4063001,ACIPOL,2020,2.0,61.0,NaN,NaN,48.0,...,36.0,1.0,NaN,3.0,NaN,NaN,63.0,408.0,52.0,11.0

In [26]:
# Creamos un diccionario con 'id_institucion' como clave y 'sede_casa_principal' como valor
dict_sede = institucion.set_index('id_institucion')['comuna_casa_central'].to_dict()

# Aplicamos una función lambda que verifique si cada 'sede' en df_otro corresponde a 'sede_casa_principal' en df_institucion
df_inmuebles = inmuebles[inmuebles.apply(lambda x: dict_sede.get(x['id_institucion']) == x['sede'], axis=1)]
df_laboratorios_talleres = laboratorios_talleres[laboratorios_talleres.apply(lambda x: dict_sede.get(x['id_institucion']) == x['sede'], axis=1)]
df_bibliotecas = bibliotecas[bibliotecas.apply(lambda x: dict_sede.get(x['id_institucion']) == x['sede'], axis=1)]
df_docentes = docentes[docentes.apply(lambda x: dict_sede.get(x['id_institucion']) == x['sede'], axis=1)]

In [27]:
df_laboratorios_talleres

,id_laboratorios_talleres,id_institucion,id_sede,sede,ano_proceso,num_laboratorios,m2_construido,num_pc_alumnos,num_pc_internet
0,1,1001,1001001,Santiago,2022,1091.0,64706.0,5325.0,5231.0
1,2,1001,1001001,Santiago,2021,1103.0,65251.0,5190.0,5089.0
2,3,1001,1001001,Santiago,2020,1103.0,65251.0,4718.0,4624.0
3,4,1001,1001001,Santiago,2019,1012.0,69207.0,4280.0,4177.0
4,5,1001,1001001,Santiago,2018,996.0,68435.0,4248.0,4248.0
...,...,...,...,...,...,...,...,...,...
5412,5413,3133,3133001,Calama,2022,NaN,NaN,57.0,57.0
5413,5414,3133,3133001,Calama,2021,NaN,NaN,30.0,30.0
5414,5415,3134,3134001,Chañaral,2022,1.0,47.0,25.0,25.0
5415,5416,3134,3134001,Chañaral,2021,1.0,47.0,25.0,25.0
5416,5417,3135,3135001,San Vicente,2022,1.0,40.0,23.0,23.0

In [28]:
##drop id
df_inmuebles = df_inmuebles.drop(columns=['id_inmuebles'])
df_laboratorios_talleres = df_laboratorios_talleres.drop(columns=['id_laboratorios_talleres'])
df_bibliotecas = df_bibliotecas.drop(columns=['id_bibliotecas'])
df_docentes = df_docentes.drop(columns=['id_docentes'])

In [29]:
## create id again
df_inmuebles.insert(0, 'id_inmuebles', range(1, 1 + len(df_inmuebles)))
df_laboratorios_talleres.insert(0, 'id_laboratorios_talleres', range(1, 1 + len(df_laboratorios_talleres)))
df_bibliotecas.insert(0, 'id_bibliotecas', range(1, 1 + len(df_bibliotecas)))
df_docentes.insert(0, 'id_docentes', range(1, 1 + len(df_docentes)))

In [30]:
##read basededatos.bd in sqlite

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

conn = sqlite3.connect('basededatos.db')
c = conn.cursor()
estrella = pd.read_sql_query("SELECT * FROM estrella", conn)

,id_hecho,id_institucion,nombre_institucion,year,id_inmuebles,id_laboratorios_talleres,id_bibliotecas,id_docentes,vigencia_desde_x,vigencia_hasta_x,acreditacion_institucional_x,vigencia_desde_y,vigencia_hasta_y,acreditacion_institucional_y
0,1,1001,U. DE CHILE,2019,4.0,4.0,4.0,4.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1,2018-12-22 00:00:00,2025-12-22 00:00:00,1
1,2,1001,U. DE CHILE,2020,3.0,3.0,3.0,3.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1,2018-12-22 00:00:00,2025-12-22 00:00:00,1
2,3,1001,U. DE CHILE,2021,2.0,2.0,2.0,2.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1,2018-12-22 00:00:00,2025-12-22 00:00:00,1
3,4,1001,U. DE CHILE,2021,2.0,2.0,2.0,2.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1,2018-12-22 00:00:00,2025-12-22 00:00:00,1
4,5,1001,U. DE CHILE,2022,1.0,1.0,1.0,1.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1,2018-12-22 00:00:00,2025-12-22 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1116,3137,C.F.T. ESTATAL DE AYSÉN,2021,NaN,NaN,NaN,NaN,None,None,0,None,None,0
1116,1117,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0,None,None,0
1117,1118,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0,None,None,0
1118,1119,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0,None,None,0
1119,1120,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0,None,None,0

In [35]:



# Comprueba si todos los valores en las nuevas columnas son verdaderos

0        True
1        True
2        True
3        True
4        True
        ...
1115    False
1116    False
1117    False
1118    False
1119    False
Length: 1120, dtype: bool
False
True

In [36]:
## drop the last 3 columns from estrella
estrella = estrella.drop(columns=['vigencia_desde_y', 'vigencia_hasta_y', 'acreditacion_institucional_y'])
##change name without _x

estrella['vigencia_desde'] = estrella['vigencia_desde_x']
estrella['vigencia_hasta'] = estrella['vigencia_hasta_x']
estrella['acreditacion_institucional'] = estrella['acreditacion_institucional_x']
estrella = estrella.drop(columns=['vigencia_desde_x', 'vigencia_hasta_x', 'acreditacion_institucional_x'])

estrella

,id_hecho,id_institucion,nombre_institucion,year,id_inmuebles,id_laboratorios_talleres,id_bibliotecas,id_docentes,vigencia_desde,vigencia_hasta,acreditacion_institucional
0,1,1001,U. DE CHILE,2019,4.0,4.0,4.0,4.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1
1,2,1001,U. DE CHILE,2020,3.0,3.0,3.0,3.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1
2,3,1001,U. DE CHILE,2021,2.0,2.0,2.0,2.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1
3,4,1001,U. DE CHILE,2021,2.0,2.0,2.0,2.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1
4,5,1001,U. DE CHILE,2022,1.0,1.0,1.0,1.0,2018-12-22 00:00:00,2025-12-22 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...
1115,1116,3137,C.F.T. ESTATAL DE AYSÉN,2021,NaN,NaN,NaN,NaN,None,None,0
1116,1117,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0
1117,1118,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0
1118,1119,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0
1119,1120,3137,C.F.T. ESTATAL DE AYSÉN,2022,NaN,NaN,NaN,NaN,None,None,0

In [31]:
import pandas as pd
import sqlite3

# Crear una conexión a la base de datos SQLite
conexion = sqlite3.connect('basebuena2.db')

# DataFrames que quieres insertar
dataframes = {
    'institucion': institucion,
    'inmuebles': df_inmuebles,
    'laboratorios_talleres': df_laboratorios_talleres,
    'bibliotecas': df_bibliotecas,
    'docentes': df_docentes,
    'estrella': estrella


}

# Iterar sobre los DataFrames y guardarlos como tablas en la base de datos
for nombre_tabla, dataframe in dataframes.items():
    dataframe.to_sql(nombre_tabla, conexion, if_exists='replace', index=False)

# Cerrar la conexión a la base de datos
conexion.close()